.products {
  &_wrapper {
    min-height: 900px;
    box-shadow: 2px 10px 20px rgb(41, 80, 255);
    padding: 100px 0;
    background: linear-gradient(
      180deg,
      rgb(92, 217, 255),
      rgb(14, 139, 255) 50%
    );
    background: url("../img/main_bg3.jpg") center (center / cover) no-repeat;
  }

  &_btn {
    margin-top: 70px;
  }

  &_title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Lato";
    font-weight: 500;
    font-size: 40px;
  }

  &_slider {
    position: relative;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;

    button {
      outline: none;
    }

    &_item {
      position: relative;
      height: 500px;
      width: 700px;
      border: 2px #fff solid;
      margin: 0 100px;
      border-radius: 10px;

      &_title {
        font-family: "Lato";
        font-size: 30px;
        position: absolute;
        bottom: 20px;
        right: 50%;
        color: rgb(255, 255, 255);
      }

      strong {
        display: block;
        padding: 7px 15px;
        font-family: "Roboto";
        font-size: 20px;
        font-weight: normal;
        position: absolute;
        bottom: 20px;
        right: 10px;
        letter-spacing: 2px;
        color: #fff;
        background-color: rgb(252, 212, 33);
        border-radius: 30px;
        border: 2px #fff solid;
      }
    }
  }
}

.item {
  &_1 {
    background: url("../img/BichromatNa.png") center (center / cover) no-repeat;

    h3 {
      color: rgb(255, 115, 115);
    }
  }
  &_2 {
    background: url("../img/chromeAngidrid.png") center (center / cover)
      no-repeat;
  }
  &_3 {
    background: url("../img/sulfatNa.jpg") center (center / cover) no-repeat;
  }
  &_4 {
    background: url("../img/oksidChromeT.png") center (center / cover) no-repeat;

    h3 {
      color: rgb(104, 104, 104);
      left: 30px;
    }
  }
  &_5 {
    background: url("../img/black.png") center (center / cover) no-repeat;

    h3 {
      color: rgb(138, 138, 138);
    }
  }
  &_6 {
    background: url("../img/box.jpg") center center no-repeat #fff;

    h3 {
      color: rgb(129, 129, 129);
    }
  }
}
